<configuration debug="false">
    <!-- ERROR、WARN、INFO、DEBUG-->

    <property name="LOG_HOME" value="E:/HySchool/logs"/>
    <property name="defaultPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %c - %m%replace(%ex){'\n', '\t\t'}%nopex%n"></property>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>


    <!--输出INFO,WARN,ERROR信息的日志-->
    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/stdout/hyschool-stdout.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>     <!--默认情况大于等于INFO就接受-->
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/stdout/hyschool-stdout.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>


    <!--输出ERROR的log信息,用try catch捕获异常打印到日志文件-->
    <appender name="STDERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/stderr/hyschool-stderr.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>       <!--用于配置符合过滤条件的操作,接受-->
            <onMismatch>DENY</onMismatch>   <!--用于配置不符合过滤条件的操作,拒绝-->
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/stderr/hyschool-stderr.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>


    <!--控制台日志级别-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
    </root>

    <!--<logger name="com.hyschool" additivity="false">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <!--<logger name="com.hyschool" additivity="false">-->
        <!--<appender-ref ref="STDERR"/>-->
    <!--</logger>-->

    <!--将spring加入到CONSOLE和STDOUT,记录spring的一些异常-->
    <!--<logger name="org.springframework" additivity="false">-->
        <!--<appender-ref ref="STDOUT"/>-->
        <!--<appender-ref ref="CONSOLE"/>-->
    <!--</logger>-->


</configuration>