html,body{
    margin:0;
    padding:0;
    height:100%;
    /*background-color: rgb(240,242,245);*/
}/*容器设置百分高度比，container在内容有或货没有的情况下能保持100%高度*/
.container{
    min-height: 100%;
    position:relative;
    background-color: rgb(240,242,245);
}
/*----------- start header-------------*/
.header{
    position: fixed;
    z-index: 999;/*设置重叠优先级*/
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
.header .header-content {
    line-height: 60px;
    width: 1000px;
    height: 60px;
    margin: 0 auto;
}
.header .header-content .logo {
    font-size: 17px;
    font-weight: 600;
    float: left;
    color: #00d8ff;
    cursor: pointer;/*鼠标指向时改变光标*/
}
.header .header-content .logo img {
    float: left;
    height: 50px;
    margin-top: 5px;
    margin-right: 10px;
}
.header .header-content .nav {
    font-size: 14px;
    float: left;
    margin-left: 20px;
}
.header .header-content .nav .list {
    font-weight: 500;
    float: left;
    padding: 0 15px;
    cursor: pointer;/*鼠标指向时改变光标*/
    -webkit-transition: 0.3s;/* Safari 和 Chrome */
    transition: 0.3s;/*CSS属性(none|all|属性)  持续时间  时间函数  延迟时间*/
    opacity: 0.5;/*设置div元素不透明度*/
    text-decoration: none;/*消除a下划线*/
    color: #2d3238;
}
.header .header-content .nav .list:hover,.header .header-content .nav .list:active {
    opacity: 1;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);/*向框添加一个或多个阴影*/
}
.header .header-content .sign {
    font-size: 14px;
    float: right;
    margin-left: 20px;
}
.header .header-content .sign a{
    text-decoration: none;
}
.header .header-content .me {
    float: right;
    /*overflow: hidden;*/
    height: 100%;
    margin-left: 20px;
}
.header .header-content .me .avatar-link {
    margin-right: 20px;
    opacity:0.5;
    color: #2d3238;
    cursor: pointer;/*鼠标指向时改变光标*/
    float:left;
}
.header .header-content .me .avatar-link:hover {
    opacity: 1;
}
.header .header-content .me .avatar-link:active {
    opacity: 1;
}
.header .header-content .me .avatar-link .avatar {
    width: 40px;
    height: 40px;
    margin-right: .5em;
    vertical-align: middle;/*垂直对齐一幅图像*/
    border-radius: 20px;/*向 div 元素添加圆角边框：*/
}

.header .header-content .me .button-link{
    float:left;
}

/*----------- end header-------------*/


/*----------- start user-------------*/
.about{
    width:1000px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom:70px;
}
.about .left {
    float: left;
    width: 23%;
}

.about .left .nav {
    margin-top: 15px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #aaa;
    overflow: hidden;
    background-color: #fff;
}
.about .left .nav> .item {
    line-height: 50px;
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding-left: 40px;
    color: inherit;
    border-bottom: 1px solid #bdbdbd;
    background-color: #fff;
    cursor: pointer;/*鼠标指向时改变光标*/
}
.about .left .nav a:hover{
    z-index: 1;
    color: #fff;
    border: none;
    background-color: #2db7f5;
    box-shadow: 2px 2px 2px #aaa;
}

/*鼠标移到侧边栏选项背景变为天蓝色*/


.about .left .nav .active {
    z-index: 1;
    color: #fff;
    border: none;
    background-color: #2db7f5;
    box-shadow: 2px 2px 2px #aaa;
}

.about .right {
    float: left;
    width: 76%;
    margin-left: 1%;
    margin-bottom: 70px;
}

.about .right .content {
    margin-top: 15px;
    padding: 2px 0 1px 0;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #aaa;
}
/*下面是四个选项卡对应内容的css样式*/
/*一setting样式*/
.about .right .content .setting{
    text-align: center;
    display: inline;
}
/*下面是选项卡面板隐藏css*/
.about .right .content .setting{
    display: none;
}
.about .right .content .active {
    display: block;

}

.setting .serve-item{

}

.setting .serve-item h2{
    width: 100%;
    height:30px;
    text-align: center;
    font: 12px/24px "微软雅黑";
    font-weight: bold;
}
.setting .serve-item p{
    text-align: left;
    font: 12px/24px "微软雅黑";
    text-indent:2em;
}
.setting .serve-item h3{
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    font-family:"微软雅黑" ;
}


.setting .privacy-policy{
    text-align: left;
    font: 12px/24px "微软雅黑";
}
.setting .privacy-policy h2{
    width: 100%;
    height:20px;
    text-align: center;
    font: 12px/24px "微软雅黑";
    font-weight: bold;
}

.setting .right-reserved p{
    font: 12px/24px "微软雅黑";
}

.setting .rule-hd{
    width: 100%;
    height: 60px;
    text-align: center;
}
.setting .rule-hd h2{
    width: 100%;
    height: 40px;
    padding-top: 10px;
    font-family: Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;
    font-size:40px;
}
.setting .rules{
    width: 100%;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border-spacing: 0;
    vertical-align: middle;
    border-bottom: 4px solid  #00ad90;
    table-layout: fixed;
}
.setting .rules thead{
    color: #fff;
    background-color: #00ad90;
    font-size: 18px;
    font-weight: normal;
}
.setting .rules td,.setting .rules th{
    width: 50%;
    height: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #666;
}
.setting .rules th{
    color: #fff;
}
.setting .rules tr{
    position: relative;
    height: 60px;
}
.setting .rules tr:nth-child(2n){
    background-color: #f6f9f9;
}

.setting .r-rule{
    border-right: 1px solid #dee8e8;
}

.setting .rules .r-rule,.setting .rules .r-punishment{
    width: 46%;
    padding: 0 2%;
}



/*-----------end user-------------*/

/*-----------start footer-------------*/
.footer {
    position:absolute;
    z-index: 0;
    bottom: 0;
    left:0;
    clear:both;
    width: 100%;
    height: 60px;
    border-top: 1px solid rgba(0,0,0,.1);
    background: #2b3747;
    color: #979fa8;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
}
.footer div{
    color:#A6A6A6;
    margin:0 0 0 10px;
}
.footer div a{
    color:#A6A6A6;
    text-decoration : none;
}
/*-----------end footer-------------*/

