html,body{
    margin:0;
    padding:0;
    height:100%;
}/*容器设置百分高度比，container在内容有或货没有的情况下能保持100%高度*/
.container{
    min-height: 100%;
    position:relative;
}
/*----------- start header-------------*/
.header {
    position: fixed;
    z-index: 999;/*设置重叠优先级*/
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
.header-content {
    line-height: 60px;
    width: 1000px;
    height: 60px;
    margin: 0 auto;
}
.logo {
    font-size: 18px;
    font-weight: 600;
    float: left;
    color: #00d8ff;
}
.logo img {
    float: left;
    height: 50px;
    margin-top: 5px;
    margin-right: 10px;
}
.nav {
    font-size: 18px;
    float: left;
    margin-left: 20px;
}
.list {
    font-weight: 500;
    float: left;
    padding: 0 15px;
    cursor: pointer;/*鼠标指向时改变光标*/
    -webkit-transition: 0.3s;/* Safari 和 Chrome */
    transition: 0.3s;/*CSS属性(none|all|属性)  持续时间  时间函数  延迟时间*/
    opacity: 0.5;/*设置div元素不透明度*/
    color: #2d3238;
}
.list:hover, .list:active {
    opacity: 1;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);/*向框添加一个或多个阴影*/
}
.sign {
    font-size: 18px;
    float: right;
    margin-left: 20px;
}
.sign a{
    text-decoration: none;
}
.me {
    float: right;
    overflow: hidden;
    height: 100%;
    margin-left: 20px;
}
.avatar-link {
    margin-right: 20px;
    opacity:0.5;
    color: #2d3238;
}
.avatar-link:hover {
    opacity: 1;
}
.avatar-link:active {
    opacity: 1;
}
.avatar {
    width: 40px;
    height: 40px;
    margin-right: .5em;
    vertical-align: middle;/*垂直对齐一幅图像*/
    border-radius: 20px;/*向 div 元素添加圆角边框：*/
}
/*----------- end header-------------*/
.search-hots{
    float:left;
    font-size: 12px;
    color: #858E8F;
    margin: 0 60px 0 0;

}
.search-hots a{
    color: #858E8F;
    text-decoration: none;
}
.search_check a {
    font-weight: 700;
}
.typegoods{
    float:left;
    line-height: 60px;
    width: 1000px;
    margin: 70px auto 10px auto;
    display: inline-block;
    text-align: center;
}
/*----------- start showlist-------------*/
.showlist{
    margin:0 auto;
    width:1000px;
    padding-bottom:60px;
}
.list-item {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #aaa;
}
.list-item:nth-child(3n) {/*:nth-child(n) 选择器匹配属于其父元素的第 N 个子元素，不论元素的类型。*/
    margin-right: 0;
}
.list-item .img {
    position: relative;
    overflow: hidden;
    display: block;
    height: 160px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: no-repeat center/cover;
    width:100%;/*修改*/
}
.img>.introduction {/*A>B 表示选择A元素的所有子B元素。与A B的区别在于，A B选择所有后代元素，而A>B只选择一代。*/
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: 30px;
    cursor: pointer;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}
.introduction p {
    line-height: 2;
    display: -webkit-box;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;/* -webkit-line-clamp用来限制在一个块元素显示的文本的行数*/
    -webkit-box-orient: vertical;
}
.img:hover > .introduction {
    display: block;
}
.list-content .name {
    height: 30px;
    padding: 5px 10px;
}
.list-content .money {
    font-size: 20px;
    line-height: 40px;
    float: left;
    width: 40%;
    height: 40px;
    /*padding-left: 10px;*/
}
.list-content .deadline {
    line-height: 40px;
    float: left;
    width: 60%;
    height: 40px;
    /*padding-right: 10px;*/
    text-align: right;
    color: #c7c7c7;
}
.list-content .roles-icons {
    clear: both;
    margin: 0 10px;
    border-top: 1px solid #ededed;
    color: #c7c7c7;
    height: 40px;
    line-height: 30px;
}
.roles-icons .roles {
    font-size: 12px;
    width: 70%;
    float: left;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.roles-icons .icons {
    width: 30%;
    float: left;
    text-align: right;
}
.icons span {
    margin-right: 5px;
}
.icons i {
    margin-right: 3px;
}
.show-more {
    clear: both;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    background: rgba(0, 0, 0, .3);
}

.show-more:hover {
    cursor: pointer;
}
/*-----------end showlist-------------*/

/*-----------start footer-------------*/
.footer {
    position:absolute;
    z-index: 0;
    bottom: 0;
    left:0;
    clear:both;
    width: 100%;
    height: 60px;
    border-top: 1px solid rgba(0,0,0,.1);
    background: #2b3747;
    color: #979fa8;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
}
.footer div{
    color:#A6A6A6;
    margin:0 0 0 10px;

}
.footer div a{
    color:#A6A6A6;
    text-decoration : none;
}

/*-----------end footer-------------*/
