html,body{
    margin:0;
    padding:0;
    height:100%;
    background-color: rgb(240,242,245);
}/*容器设置百分高度比，container在内容有或货没有的情况下能保持100%高度*/
.container{
    min-height: 100%;
    position:relative;
}
/*----------- start header-------------*/
.header {
    position: fixed;
    z-index: 999;/*设置重叠优先级*/
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
.header-content {
    line-height: 60px;
    width: 1000px;
    height: 60px;
    margin: 0 auto;
}
.logo {
    font-size: 18px;
    font-weight: 600;
    float: left;
    color: #00d8ff;
    cursor: pointer;/*鼠标指向时改变光标*/
}
.logo img {
    float: left;
    height: 50px;
    margin-top: 5px;
    margin-right: 10px;
}
.nav {
    font-size: 18px;
    float: left;
    margin-left: 20px;
}
.list {
    font-weight: 500;
    float: left;
    padding: 0 15px;
    cursor: pointer;/*鼠标指向时改变光标*/
    -webkit-transition: 0.3s;/* Safari 和 Chrome */
    transition: 0.3s;/*CSS属性(none|all|属性)  持续时间  时间函数  延迟时间*/
    opacity: 0.5;/*设置div元素不透明度*/
    color: #2d3238;
}
.list:hover, .list:active {
    opacity: 1;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);/*向框添加一个或多个阴影*/
}
.sign {
    font-size: 18px;
    float: right;
    margin-left: 20px;
}
.sign a{
    text-decoration: none;
}
.me {
    float: right;
    overflow: hidden;
    height: 100%;
    margin-left: 20px;
}
.avatar-link {
    margin-right: 20px;
    opacity:0.5;
    color: #2d3238;
    cursor: pointer;/*鼠标指向时改变光标*/
    float:left;
}
.avatar-link:hover {
    opacity: 1;
}
.avatar-link:active {
    opacity: 1;
}
.avatar {
    width: 40px;
    height: 40px;
    margin-right: .5em;
    vertical-align: middle;/*垂直对齐一幅图像*/
    border-radius: 20px;/*向 div 元素添加圆角边框：*/
}

.me .button-link{
    float:left;
}

/*----------- end header-------------*/


/*----------- start admin-------------*/
.superAdmin{
    width:1000px;
    margin-left:auto;
    margin-right: auto;
    height: 80%;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: #fff;
    padding: 40px 30px 70px;
    text-align: center;
}
.superAdmin>.title{
    font-size: 20px;
    padding-bottom: 15px;
    margin-left: auto;
}
.superAdmin table{
    border-top: 1px solid rgb(236, 236, 236);
    border-collapse:collapse;
}
.superAdmin table tr {
    border-bottom: 1px solid rgb(236, 236, 236);
    height:50px;
    background: #FFF;
}
.superAdmin table .columns{
    background-color: rgb(247,247,247);
}
.superAdmin table td, .admin table th {
    padding: 5px 10px;
    font-size: 12px;
    color: rgb(129,129,129);
    width:250px;
}


.superAdmin table tr a{
    float: left;
    cursor: pointer;/*鼠标指向时改变光标*/
    color:  #00d8ff;
    text-decoration: none;
}
.superAdmin table tr a:hover,.admin table tr a:active {
    opacity: 1;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);/*向框添加一个或多个阴影*/
    text-decoration: none;
    color:#2d3238;
}

.superAdmin table tr .ant-divider {
    float:left;
    margin-left: 5px;
    margin-top: 3px;
    margin-right: 5px;
    width: 1px;
    height: 10px;
    background: #000;
}


/*分页*/
#page {

    clear: both;
    width: 100%;
    height:40px;
    text-align: center;
    padding: 10px 25% 10px 25%;
    margin: 10px 0;
}
#page .pagingUl {
    float: left;
    display: inline;
    padding: 0;
    margin: 0;
    list-style: none;
}
#page .pagingUl li {
    display: inline-block;
    width: 40px;
    background: #fff;
    text-align: center;
    margin-right: 5px;
}

#page .pagingUl li a {
    cursor: pointer;
    border: solid 1px #d6d6d6;
    border-radius: 5px;
    color: #7d7d7d;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
#page .prv,#page .next {
    float: left;
    display: inline;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: #000000;
    border-radius: 5px;
    background: #fff;
    border: solid 1px #d6d6d6;
}
#page .prv {
    margin-right: 10px;
}
#page .first,#page .last {
    float: left;
    display: inline;
    height: 40px;
    width: 40px;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background: #fff;
    color: #000000;
    margin-right: 5px;
    border-radius: 5px;
    border: solid 1px #d6d6d6;
}
#page .prv:hover,#page .next:hover,#page .first:hover,#page .last:hover,#page .pagingUl li a:hover,#page .activP {
    color: #fdfdfd;
    background-color: rgba(0,147,253,1);
    border: solid 1px rgba(0,147,253,1);
}



/*-----------end admin-------------*/

/*-----------start footer-------------*/
.footer {
    position:absolute;
    z-index: 0;
    bottom: 0;
    left:0;
    clear:both;
    width: 100%;
    height: 60px;
    border-top: 1px solid rgba(0,0,0,.1);
    background: #2b3747;
    color: #979fa8;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
}
.footer div{
    color:#A6A6A6;
    margin:0 0 0 10px;
}
.footer div a{
    color:#A6A6A6;
    text-decoration : none;
}
/*-----------end footer-------------*/

