<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>首页</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Dylan Lewis" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="../../../static/css/style.css">
</head>
<body>


<!-- particles.js container -->
<div id="particles-js"></div>

<!-- scripts -->
<script src="../../../static/js/particles.js"></script>
<script src="../../../static/js/app.js"></script>

</body>
</html>