<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyschool.admin.dao.AuditApproveHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hyschool.admin.bean.AuditApproveHistory">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="admin_id" jdbcType="INTEGER" property="adminId"/>
        <result column="vip_id" jdbcType="INTEGER" property="vipId"/>
        <result column="is_pass" jdbcType="BIT" property="isPass"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime"/>
    </resultMap>

</mapper>