<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyschool.common.dao.GoodsCommentsMapper">
    <resultMap id="BaseResultMap" type="com.hyschool.common.bean.GoodsComments">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="vip_id" jdbcType="INTEGER" property="vip_id"/>
        <result column="star_rating" jdbcType="DOUBLE" property="star_rating"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
</mapper>