<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyschool.common.dao.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.hyschool.common.bean.Goods">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="vip_id" jdbcType="INTEGER" property="vipId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="user_time" jdbcType="VARCHAR" property="userTime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="transaction_address" jdbcType="VARCHAR" property="transactionAddress"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="online_time" jdbcType="TIMESTAMP" property="onlineTime"/>
        <result column="off_the_shelf_time" jdbcType="TIMESTAMP" property="offTheShelfTime"/>
    </resultMap>


    <select id="byId" parameterType="Integer" resultType="goods">
        SELECT * FROM goods WHERE id=#{id, jdbcType=INTEGER}
    </select>

    <select id="byCategoryAndState" resultMap="BaseResultMap">
        SELECT * FROM goods WHERE category_id=#{categoryId,jdbcType=INTEGER} AND state=#{state,jdbcType=INTEGER} limit #{start},#{pageSize}
    </select>

    <select id="countByCategoryAndState" resultType="INTEGER" parameterType="INTEGER">
        SELECT COUNT(*) FROM goods WHERE category_id=#{categoryId,jdbcType=INTEGER} AND state=#{state,jdbcType=INTEGER}
    </select>

    <insert id="createGoods" parameterType="goods">
        INSERT INTO goods (category_id,vip_id,name,state,price,stock,description,transaction_address,create_time)
        VALUES (
                #{categoryId,jdbcType=INTEGER},
                #{vipId,jdbcType=INTEGER},
                #{name,jdbcType=VARCHAR},
                #{state,jdbcType=INTEGER},
                #{price,jdbcType=DOUBLE},
                #{stock,jdbcType=INTEGER},
                #{description,jdbcType=VARCHAR},
                #{transactionAddress,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP}
                )
    </insert>

    <update id="addOneComment" parameterType="INTEGER">
        UPDATE goods SET total_comments=total_comments+1 WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="countReleaseGoods" resultType="INTEGER">
        SELECT COUNT(*) FROM goods WHERE vip_id=#{vipId,jdbcType=INTEGER} AND state=#{state,jdbcType=INTEGER}
    </select>


</mapper>