<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyschool.common.dao.NoticeMapper">
    <resultMap id="BaseResultMap" type="com.hyschool.common.bean.Notice">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="to_email" jdbcType="VARCHAR" property="toEmail"/>
        <result column="from_email" jdbcType="VARCHAR" property="fromEmail"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="have_read" jdbcType="BIT" property="haveRead"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="is_public_all" jdbcType="BIT" property="isPublicAll"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="read_time" jdbcType="TIMESTAMP" property="readTime"/>
    </resultMap>
</mapper>