<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyschool.common.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.hyschool.common.bean.Order">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_number" jdbcType="INTEGER" property="orderNumber"/>
        <result column="vip_email" jdbcType="VARCHAR" property="vipEmail"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="notes" jdbcType="VARCHAR" property="notes"/>
        <result column="sum_money" jdbcType="INTEGER" property="sumMoney"/>
        <result column="pay_mode" jdbcType="BIT" property="payMode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="accept_time" jdbcType="TIMESTAMP" property="acceptTime"/>
        <result column="shop_confirm_time" jdbcType="TIMESTAMP" property="shopConfirmTime"/>
        <result column="vip_confirm_time" jdbcType="TIMESTAMP" property="vipConfirmTime"/>
        <result column="is_pay" jdbcType="BIT" property="isPay"/>
        <result column="pay_serials_number" jdbcType="VARCHAR" property="paySerialsNumber"/>
        <result column="is__delete" jdbcType="BIT" property="isDelete"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
    </resultMap>
</mapper>